{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
 background: white;
}
.bg-color2{
   background: black;
}
.bg-color3{
	background: linear-gradient(100deg, skyblue -70%, white 200%);
}
.bg-color5{
	background: linear-gradient(120deg, blanchedalmond 0%, white 100%);
}
.bg-color6{
	  background: whitesmoke;
}
.bg-color7{
	background: rgb(0,0,0,0.6);
}
.bg-color8{
	background: linear-gradient(120deg, lightgreen 0%, white 100%);
}
.bg-color9{
	background: linear-gradient(120deg, skyblue -80%, silver 100%);
}
.bg-color10{
	background: linear-gradient(120deg, red -80%, pink 100%);	
}
.bg-color11{
	background: linear-gradient(100deg, whitesmoke -30%, lightpink 500%);	
}
.bg-color12{
	background: linear-gradient(100deg, whitesmoke -30%, lightgreen 300%);	
}
.bg-color13{
	background: linear-gradient(100deg, whitesmoke -30%, purple 400%);
}
.bg-color14{
	background: linear-gradient(100deg, whitesmoke -30%, blue 400%);
}
.bg-color15{
	background: linear-gradient(100deg, whitesmoke -30%, brown 400%);
}
.bg-color16{
	background: linear-gradient(100deg, whitesmoke -30%, red 400%);
}
.bg-color17{
	background: linear-gradient(100deg, whitesmoke -30%, black 200%);
}
.font{
	font-size: 2.5rem;
}

 li a{
	
  
	font-weight: bold;
	margin-left: 20px;
	font-size: 18px;
}
a{
	text-decoration: none;
}

.btn1{
	border: none;
	padding: 5px 15px;
	border-radius: 15px;
}
.btn1:hover{
  background:cadetblue;
  text: white;
}
.btn2{
	background: none;
	border: none;
	font-size: 15px;
}
h1{
	font-weight: bold;
}
h6{
	font-weight: bold;
}

.margin{
	margin-top: 190%;
}
.btn3{
	border: none;
	padding: 4px 13px;
	border-radius: 15px;
}
.btn4{
	border: 1px solid;
	border-radius: 15px;
}
.btn5{
	border: 2px solid;
}
.card-container{
	position: relative;
	width: 18rem;
	perspective: 200rem;
	height: 412px;

}
.card-container:hover .card-front{
	transform: rotateY(180deg);
}
.card-container:hover .card-back{
	transform: rotateY(0deg);
}
.card-back{
	transform: rotateY(180deg);
}
.card{
	position: absolute;
	width: 100%;
	height: 80%;
	transition: all 0.9s;
	backface-visibility: hidden;
}